@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
    margin: 0;        /* Quita el espacio en blanco natural alrededor de la web */   
    font-family: "Poppins", sans-serif;             /* Define el tipo de letra */
    background: linear-gradient(135deg, #007BFF, #0d2d74);  /*Crea ese fondo elegante que pasa de un azul claro a un azul oscuro.*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.inicio-container {
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.botones {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 15px 30px;         /* Quita el relleno interno */
    background-color: white;
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0d2d74;
    color: white;
}